
.search {display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.search-name {
  width: 50%;
}

.search-component {
  text-align-last: center;
  margin: 2vh;
}

.search h4 {
  margin: 1vh;
}