.search {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.search-name {
  width: 50%;
  border-radius: 5px;
}

.search-component {
  text-align-last: center;
  margin: 2vh 0 4vh 0;
}

.list-item {
  border-top: 2px solid rgba(3, 13, 20, 0.22);
  padding-top: 2vh;
  margin: 2vh 0;
  text-align: center;
}
