@import "homepage";
@import "footer";
@import "hero";
@import "navbar";
@import "breweries";

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

h1 {
  margin-top: 200px;
  text-align: center;
  font-size: 3em !important;
}

h4 {
  margin: 2vh;
  color: goldenrod;
  font-weight: 600;
  font-size: x-large;
}

h5 {
  margin: 3vh !important;
  text-align: center;
  font-size: initial;
  font-style: italic;
  font-size: medium;
}

.btn-warning {
  color: blanchedalmond !important;
  background-color: goldenrod !important;
}
