footer {
  margin-top: auto;
  padding: 0;
  position: fixed;
   bottom: 0px;
   width: 100%;
  height: 9vh;
  // background-color: #b18b51;
  background-color: #E1A800;
}

.empty {
  padding-top: 9vh
}

.copyright {
  text-align-last: center;
  padding: 2vh;
}