body,
html {
  height: 100%;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/headerBeer.jpeg");
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption h1 {
  color: white;
  padding: 2vh;
  font-size: xxx-large;
}

.homepage-buttons {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.homepage-button {
  margin: 2vh;
}
