.navbar {
  background-color: #E1A800;
}

.navbar-brand {
  color: white!important;
  font-size: xxx-large;
  // margin-left: 2vh;
  padding-top: 0em!important;
  padding-bottom: 0em!important;
  font-size: 3.25rem!important;
}