.navbar {
  background-color: goldenrod;
}

.navbar-brand {
  color: white !important;
  font-size: xxx-large;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  font-size: 3.25rem !important;
}

.nav-link {
  color: blanchedalmond !important;
}
